@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --black: #3a3a3a;
    --white: whitesmoke;
    --gray: #9CA3AF;
}
body {
    /* background-image: url("images/code-editor.png"); */
    background-color:var(--white);
    background-size: 100%;
    color:var(--black);
    font-family: 'Open Sans', sans-serif;
    margin:0px;
}

.container{
    padding: 1rem 1rem;
}
.container-centre{
    max-width: 600px;
    margin:auto;
}

hr{
    margin:1rem 0rem;
}

.links{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.link-primary{
    background-color: var(--black);
    color:var(--white);
}

.link-secondary{
    border:1px solid var(--black);
    color:var(--black);
}

.list-non-bullet
{
    list-style:none;
}

.list-item-inline{
    display:inline;
    padding: 0rem  0.5rem;
}

.navbar{
    background-color: var(--black);
    margin: 0.5rem 0.5rem;
    padding:0.5rem 1rem;
    color:white;
    border-bottom-left-radius: 2rem;
}
 .navbar .link-active{
    font-weight: bold;
 }

.nav-brand{
    font-size: 1.8rem;
    font-weight: bold;

}
.nav-pills{
    text-align: right;
}
.navbar .links{
    color: white;
}
.link-active{
    font-weight:bold;
}

.header{
    padding:2rem 0rem;
}
.header-img{
    max-width:300px;
    display:block;
    margin:auto;
}

.header-heading{
    padding:0.5rem 0rem;
    font-size:xlarge;
    text-align: center;
}

.section{
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.section-white{
    background-color:white;
}

.section-gray{
    background-color:var(--gray);
}

.footer{
    background-color: var(--black);
    color:var(--white);
    text-align: center;
}

.footer-heading{
    font-size: 1.1rem;
}

.footer-links{
    color:var(--white);
    padding:1rem 1rem;
    margin:1rem 1rem;
}